<h2>{{localize "LAZY_PREP.LOCATIONS"}}</h2>

<ul class="lazy-locations">
  {{#each session.locations}}
    <li class="location-row" data-id="{{id}}">
      <label>
        {{localize "LAZY_PREP.NAME"}}
        <input type="text" name="loc-name-{{id}}" value="{{name}}" placeholder="{{localize 'LAZY_PREP.NAME'}}"/>
      </label>
      <label class="notes">
        {{localize "LAZY_PREP.NOTES"}}
        <input type="text" name="loc-notes-{{id}}" value="{{notes}}" placeholder="{{localize 'LAZY_PREP.NOTES'}}"/>
      </label>
    </li>
  {{/each}}
</ul>

<button class="add-location">{{localize "LAZY_PREP.ADD"}} {{localize "LAZY_PREP.LOCATION"}}</button>
