<h2>{{localize "LAZY_PREP.SECRETS"}}</h2>

<ul class="lazy-secrets">
  {{#each session.secrets}}
    <li class="secret-row" data-id="{{id}}">
      <label>
        {{localize "LAZY_PREP.TEXT"}}
        <input type="text" name="secret-text-{{id}}" value="{{text}}" placeholder="{{localize 'LAZY_PREP.TEXT'}}"/>
      </label>
    </li>
  {{/each}}
</ul>

<button class="add-secret">{{localize "LAZY_PREP.ADD"}} {{localize "LAZY_PREP.SECRET"}}</button>
