<div class="tab" data-tab="secrets">
  <h2>{{localize "LAZY_PREP.SECRETS"}}</h2>
  <ul>
    {{#each session.secrets}}
      <li>
        <input type="text" name="secret-{{id}}" value="{{text}}" placeholder="Secret text"/>
        <input type="checkbox" {{#if revealed}}checked{{/if}}/> {{localize "LAZY_PREP.REVEALED"}}
      </li>
    {{/each}}
  </ul>
  <button class="add-secret">{{localize "LAZY_PREP.ADD"}} Secret</button>
</div>
