<h2>{{localize "LAZY_PREP.STRONG_START"}}</h2>

<div class="strong-start">
  <label>
    {{localize "LAZY_PREP.TEXT"}}
    <input type="text" name="strongStart-text" value="{{session.strongStart.text}}" placeholder="{{localize 'LAZY_PREP.STRONG_START'}}"/>
  </label>

  <label>
    {{localize "LAZY_PREP.SCENE_ID"}}
    <input type="text" name="strongStart-sceneId" value="{{session.strongStart.sceneId}}"/>
  </label>
</div>
